.text-box-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 200px;
}

.text-box {
  border-radius: 20px;
  padding: 20px
}

.editorInstructions{
  display: flex;
  flex-direction: column;
  gap: 12px;
}