.text-box-container-ta-cust {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.text-box-ta-cust {
  border-radius: 20px;
  padding: 20px;
}

.text-box-ta-cust::-webkit-scrollbar-thumb {
  background-color: transparent;
}