.GeneratePdfButton {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  background-color: #8A9DF8;
  color: #ffffff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  width: 180px;
  align-self: center;
}

.GenerateInvoice {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  background-color: #8A9DF8;
  color: #ffffff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.GeneratePDFView {
  display: flex;
  justify-content: center;
  align-items: center;
}