.FormBuilder {
  padding-left: 50px;
  padding-right: 50px;
}

.FormBuilderHeader {
  height: 150px;
}

.ScrollBox {
  overflow: auto;
  max-height: calc(100vh - 150px);
}

.FormBuilderTitle {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 5px;
}

.FormSubmitT {
  margin-right: 10px;
}

.FormTitle {
  display: flex;
  flex-direction: row;
  height: 45px;
}

.FormPreview {
  flex: 0.3;
  text-align: right;
}

.FormSubmitT {
  flex: 1;
  text-align: right;
}

.FormPreviewButton {
  height: 45px;
  width: 150px;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  transition-duration: 0.4s;
  cursor: pointer;
}

.FormSubmitButton {
  height: 45px;
  width: 150px;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  transition-duration: 0.4s;
  cursor: pointer;
}


.DragAndDropText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 16px;
}

.FormBuilderQuestion {
  border: solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
  font-size: 16px;
  margin-bottom: 30px;
  background-color: white;
}

.FormBuilderQuestion--short {
  border: solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80px;
  font-size: 16px;
  margin-bottom: 30px;
  background-color: white;
}


