.HeaderTab {
    height: 60px;
    background-color: #AEAEAE;
}

.ComponentsTab {
    height: 100%;
    width: 50%;
    border: 0;
}

.LogicTab {
    height: 100%;
    width: 50%;
    border: 0;
}

.ContentHolder {
    height: calc(100vh - 60px);
    padding: 15px;
    background-color: #AEAEAE;
}

.titleText {
    font-size: 18px;
    font-weight: 600;
}

.subtitleText {
    font-size: 16px;
    font-weight: 600;
}