.dropdownContainer {
  width: 50%;
}
.label {
  font-size: 24px;
  font-weight: 600;
  color: #666666;
  margin-bottom: 20px;
  text-align: left;
}
.select{
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../../assets/DropdownArrow.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
}
.select:focus {
  outline: none;
}