.text-box-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.text-box {
  border-radius: 20px;
}

.GlobalEditorComponent--textline{
  min-height: 80px; 
}

.LogicPadding {
  margin-top: 20px;
}

/* Question Title (input) */
.TextLineTitleInput {
  height: 45px;
  border: 0;
  background-color: #ECEDF3;
  width: 80%;
  border-radius: 15px;
  margin-left: 10px;
  font-size: 18px;
  padding: 10px;
}
.TextLineTitleInput:focus {
  outline: none;
}
