.label {
  font-size: 1.25rem;
  line-height: 2;
}

.question-header-row {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 3em;
  align-items: center;
}

.question-number-container {
  display: flex;
  margin-left: 2%;
  margin-right: 5%;
  height: 80%;
  width: 7%;
  background: #d9d9d9;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.question-number-text {
  font-size: 16px;
  text-align: center;
  color: #666666;
}

.question-name-input {
  background-color: #d9d9d9;
  border: none;
  border-radius: 15px;
  height: 80%;
  width: 55%;
  font-size: 16px;
  padding-left: 2%;
  margin-right: 25%;
}
.question-close-button-container {
  border-radius: 20px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.question-close-button-container:hover {
  background-color: rgba(50, 50, 50, 0.1);
}

.question-cancel-button {
  font-size: 18px;
  background: transparent;
  border: none;
  align-self: right;
}

.file-input-question-builder-container {
  position: relative;
  margin-top: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  border-radius: 5px;
  align-items: left;
  border-radius: 10px;
}

.new-question-input-container {
  display: flex;
  margin: none;
  padding: none;
  justify-content: left;
  align-items: center;
}

.new-question-input {
  display: flex;
  border: none;
  /* font-size: 18px;  */
  width: 200px;
}

.new-question-input:focus {
  outline: none;
}

.new-question-radio {
  width: 30px;
}

.question-footer-row {
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 3em;
  align-items: center;
}

.question-logic-added-sign {
  font-size: 1em;
  font-weight: 400;
  margin-left: 2%;
  display: flex;
  width: 15%;
  border: 2px solid #aeaeae;
  color: #aeaeae;
  border-radius: 15px;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.question-required-checkbox {
  margin-right: 2%;
  color: #aeaeae;
}

.upload-file-container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 100%;
  padding: 0px 14px 0px 14px;
  justify-content: center;
}

.upload-file {
  /* Need to investigate further why the corners are not rounding... */
  border-radius: 20px;
}

.upload-icon {
  height: 5%;
  width: 5%;
}
