.ticketBoardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.searchTicketSection {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 65%;
  margin-bottom: 24px;
}
.ticketBoardSearch {
  border: 0;
  background-color: #ecedf3;
  border-radius: 15px;
  height: 45px;
  padding-left: 40px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../../assets/SearchIcon.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: calc(0% + 16px) center;
}
.ticketBoardDropdown:focus {
  outline: none;
}
.ticketBoardDropdown {
  border: 0;
  background-color: #ecedf3;
  border-radius: 15px;
  height: 45px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  flex-basis: 120px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../../assets/DropdownArrow.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: calc(100% - 32px) center;
}
.ticketBoard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.column {
  background-color: #ecedf3;
  margin: 8px;
  border-radius: 8px;
  min-height: 100px;
  flex: 1;
}
.columnTitle {
  color: #353535;
  font-weight: bold;
  text-align: left;
  padding: 8px;
}
.taskList {
  padding: 8px;
}
.task-card-container {
  font-family: inherit;
  font-size: 12px;
  color: #6f6f6f;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  border-radius: 5px;
  background-color: #fff;
  min-height: 110px;
}
.task-card-color-tab {
  font-family: inherit;
  padding: 4px;
  border-radius: 5px 0px 0px 5px;
}
.task-card-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
.task-card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.task-card__code {
  font-size: 16px;
  text-align: left;
}
.task-card__reminder--notify-true {
  display: flex;
  border-radius: 5px;
  background-color: #e08e89;
  align-items: center;
  justify-content: center;
}
.task-card__reminder--notify-false {
  display: flex;
  border-radius: 5px;
  background-color: none;
  align-items: center;
  justify-content: center;
}
.task-card__notificaton-container {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.notification-icon {
  color: black;
  margin: 3px;
  padding-top: 1px;
}
.task-card__body {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.task-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.task-card__subtasks-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #e4e5ea;
  padding: 5px;
  border-radius: 5px;
}
.task-card__subtask-checkbox {
  display: inline-block;
  height: 14px;
  margin-right: 5px;
}

.task-card__subtasks-completed-text {
  margin-top: 1px;
  display: inline-block;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.task-card__assignees-container-parent {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.task-card__assignees-container {
  display: flex;
  flex-direction: row;
}

.task-card__assignee-container {
  margin-left: 5px;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.assigneeAddModal {
  background-color: #eeeeee;
  border-radius: 10px;
  width: 96%;
  height: 10%;
  position: absolute;
  left: 2%;
  top: 12%;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  flex-direction: column;
}

.newMemberView {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ticketDetailBackground {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.ticketDetail {
  background-color: #fff;
  width: 60%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.ticketTitle {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.ticketTitleId {
  font-weight: bold;
  font-size: 20px;
  margin-right: 8px;
  text-transform: uppercase;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ticketPreview {
  margin-left: auto;
}

.ticketSectionTitle {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

.ticketDescriptionInput {
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
}

.ticketTags {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 10px;
}

.ticketDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 120px;
}

.ticketInfo {
  flex-grow: 1;
  max-height: 65%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 10px;
  gap: 18px;
}

.ticketColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticketInfo .subtasksColumn {
  flex-grow: 3;
}
.ticketInfo .servicesColumn {
  flex-grow: 7;
}

.ticketSubtasks {
  background-color: #d9d9d9;
  flex-grow: 1;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  max-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticketSubtasksContainer {
  flex: 1;
  max-height: 100%;
  border-radius: 10px;
}

.ticketAttachments {
  margin-top: 12px;
  padding: 15px;
  height: 17%;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticketCosts {
  background-color: #d9d9d9;
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-grow: 1;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentList {
  height: 100%;
  display: flex;
  padding: 15px;
  flex-direction: column;
}

.additionBar {
  background-color: #b4b4b4;
  height: 40px;
  width: 100%;
  padding-left: 15px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.Add {
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin-right: 15px;
}

.subtaskCostRows {
  height: 100%;
  overflow-y: auto;
}

.subtaskCostRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  flex: 1;
  background-color: #b4b4b4;
  border-radius: 10px;
}

.subtaskInputContainer {
  display: flex;
  flex-direction: row;
  height: 4em;
  /* height: 50px; */
  align-items: center;
  padding-left: 15px;
}

.serviceCostRow {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-top: 15px;
  /* margin: 1em; */
  flex: 1;
  max-width: 100px;
}

.serviceNameInput {
  height: 30px;
  /* width: 200px; */
}

.serviceCostInput {
  height: 30px;
  width: 50px;
}

.serviceCostRow .inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #cdcccc;
  padding: 5px;
  flex: 2;
}

.serviceListRows {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.serviceCostRow .deleteServiceItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
  align-items: center;
  background-color: #cdcccc;
  margin-left: 18px;
  border-radius: 10px;
  flex: 1;
}

.serviceCostQuantity,
.serviceCostCost {
  padding-right: 3px;
}

.serviceCostInput,
.serviceNameInput {
  border: none;
  background-color: #cdcccc;
}

.Rectangle {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-right: 15px;
}

/* how to change colour? */
/* .subtaskSection::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */
