#invoice-template {
  color: #000;
  margin: 10px auto;
  border: 1px solid #ddd;
}
#invoice-header {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
}
.invoice-header-columns {
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  text-align: left;
  width: 100%;
  color: #717885;
}
.ubc-logo {
  text-align: right;
  align-self: center;
}
.invoice-title {
  text-align: center;
}
.page {
  margin-left: 24px;
  margin-right: 24px;
}
.monospace {
  font-family: monospace;
  font-size: 20px;
  text-align: left;
}
.header-table {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 36px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.header-table-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #666;
  width: 50%;
}
.header-table-section:last-child {
  border-right: none;
}
.header-item {
  padding: 10px;
}
.header-item-half {
  padding: 10px 0 5px 5px;
  border-bottom: 1px solid #666;
}
.header-item-half:last-child {
  border-bottom: none;
}
.header-table-title {
  text-align: left;
  font-size: 12px;
}
.header-table-content {
  text-align: left;
  font-size: 14px;
  margin-left: 7px;
}

.invoice-details-table table {
  width: 100%;
}
.invoice-details-table table tr.heading td {
  border-bottom: 1px solid #000;
  border-right: 24px solid #fff;
  height: 32px;
}
.invoice-details-table table tr.item td {
  border-bottom: 1px solid #ddd;
  border-right: 24px solid #fff;
  height: 28px;
}
.invoice-details-table td:first-child {
  width: 50%;
}
table .item,
table .heading {
  text-align: left;
}
.summary-table table {
  width: 50%;
  margin: 36px 0 0 auto;
}
.summary-table td:first-child {
  width: 50%;
}

.signer {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin: 20px 0 20px 0;
}
input {
  color: #627bf6;
  font-family: monospace;
  text-align: left;
  margin-top: 24px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
}
input#signature {
  text-align: center;
  height: 80px;
}
.signer-form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.signer-item {
  flex-grow: 1;
}
.border-bottom {
  border: 1px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
}
