.PageContainer {
    display: flex;
    flex-direction: row;
}

.BackgroundImg {
    width: 50%;
    background-image: url("../../assets/LoginBackground.png");
    background-size: cover;
}

.SignUpBackgroundImg {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-image: url("../../assets/LoginBackground.png");
    justify-content: flex-end;
    background-size: cover;
}
.LoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:  50%;
}

.LoginContainer {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
}

.CreateAccount {
    display: flex;
    flex-direction: row;
}

.LogoImg {
    width: 10%;
    float: left;
}


.LoginForm {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.LoginInput {
    width: 100%;
    height: 50px; 
    margin-top: 3%;
    outline: 0;
    border-width: 0 0 1px;
}

.LoginTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ForgotPassword {
    display: flex;
    align-items: right;
}

.LoginText {
    font-size: 10px;
}

.SignInBtn {
    cursor: pointer;
    width: 30%;
    height: 30px;
    margin-top: 20%;
    align-self: center;
    border: 0;
    border-radius: 10px;
    background-color: #5B73E8;
    color: #fff;
    font-size: 12px;
    font-style: bold;
}

.LogInBtn {
    cursor: pointer;
    width: 15%;
    height: 30px;
    margin: 2% 2% 10% 2%;
    align-self: center;
    border: 0;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 12px;
    font-style: bold;

}

.AlreadyUser {
    color: white;
}

.RememberMe {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.RememberMe input[type="checkbox"] {
  margin-right: 10px;
  position: relative;
}

.ErrorMessage {
    color: red;
    margin-top: 10px;
    text-align: left;
    font-size: 12px
  }