
.requestFormContainer {
  height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.formTitle {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 50px;
}
.FormRequestQuestion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  min-height: 100px;
  font-size: 16px;
  margin-bottom: 30px;
  background-color: white;
}
.requestContent {
  display: flex;
}
.requestQuestions {
  flex-grow: 1;
}

.FormSubmit {
  flex: 1;
  text-align: start;
}

.FormSubmitButton {
  height: 45px;
  width: 150px;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  transition-duration: 0.4s;
  cursor: pointer;
}
