
.requestFormContainer {
  height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.formTitle {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 50px;
}

.FormResponseQuestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  min-height: 100px;
  font-size: 16px;
  margin-bottom: 30px;
  background-color: white;
}
.requestContent {
  display: flex;
}
.requestQuestions {
  flex-grow: 1;
}
.costEstimate {

}
