.ticketCosts {
  background-color: #F9FAFF;
  border-radius: 10px;
  flex-grow: 1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.serviceContentList {
  height: 100%;
  padding: 15px;
}

.serviceTableHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.serviceTableColHeading {
  display: flex;
  flex: 1;
  font-weight: 600;
  font-size: 16px;
  color: #9D9D9D;
}

.serviceTable {
  width: 100%;
}

.deleteServiceSpace {
  flex: 0.2;
}

.serviceListRows {
  max-height: 95%;
  overflow-y: auto;
}

.serviceNameInputSelect:focus {
  outline: none;
  border: none;
}

.parentServiceRow {
  margin-bottom: 10px;
}

.serviceTableRow {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
}

.serviceEntryValueRow {
  background-color: #ECEDF3;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 7px;
  flex: 3;
}

.serviceInputBox {
  flex: 1;
  border: none;
  background-color: transparent;
  color: #666666;
}

.serviceInputBox:focus {
  outline: none;
}

.serviceCommentInput {
  width: 100%;
  border: none;
  background-color: transparent;
  margin-bottom: 20px;
  padding-left: 10px;
}

.serviceCommentInput:focus,
.serviceInputBox:focus {
  outline: none;
}

.serviceCostRow .deleteServiceItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
  align-items: center;
  background-color: #cdcccc;
  margin-left: 18px;
  border-radius: 10px;
  flex: 1;
}

.delete-service {
  height: 30px;
  width: 30px;
  object-fit: contain;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ECEDF3;
}