.ticketCosts {
  background-color: #ecedf3;
  border-radius: 10px;
  flex-grow: 1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticketCosts .contentList {
  height: calc(100% - 50px);
}

.serviceTable td {
  padding: 10px;
  text-overflow: ellipsis;
}

.serviceTableHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 0 5px;
}

.serviceTableCol {
  display: flex;
  flex: 1;
}

.serviceTableColHeading {
  font-weight: 600;
  color: #a4a3a3;
}

.serviceTable {
  width: 100%;
}

.deleteServiceSpace {
  flex: 0.2;
}

.parentServiceRow {
  margin-bottom: 10px;
}

.serviceTableRow {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.serviceNameInput {
  flex: 1;
  border-radius: 5px;
  border: none;
  background-color: #fcfcfc;
  margin-left: 5px;
  padding: 0 12px;
}

.serviceCostInput {
  flex: 1;
  border-radius: 5px;
  border: none;
  background-color: #fcfcfc;
}

.serviceNameInput:focus,
.serviceCostInput:focus {
  outline: none;
}

.serviceCommentInput {
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #ecedf3;
  margin-bottom: 18px;
  padding-left: 20px;
}

.serviceNameInput:focus,
.serviceCommentInput:focus,
.serviceCostInput:focus {
  outline: none;
}

.serviceListRows {
  max-height: 95%;
  overflow: scroll;
}

.serviceCostRow .deleteServiceItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
  align-items: center;
  background-color: #cdcccc;
  margin-left: 18px;
  border-radius: 10px;
  flex: 1;
}

.delete-service {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 25px;
  /* margin-left: 10px; */
  padding: 3px;
  cursor: pointer;
}
