.InvoiceTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 70px;
  width: 100%;
  padding: 0 1rem;
}

.invoice-total-container {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-style: bold;

}

.total-number {
  font-size: 1.8em;
  font-weight: 700;
  font-style: bold;
  margin-right: 5px;
}

.TotalStat {
  display: flex;
  justify-content: center;
  align-items: center;
}