.formProgressPage {
  padding: 32px 36px;
  text-align: left;
  overflow-y: auto;
  height: 100vh;
}
.formProgressPage .pageTitle{
  margin-top: 12px;
  padding: 0 36px;
}
.formProgressPage .signout{
  display: flex;
  justify-content: flex-end;
}
.formProgressPage .signoutBtn{
  color: #353535;
  font-weight: 600;
  padding: 8px 20px;
  margin-right: 48px; 
  background-color: #ecedf3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.formProgressPage .wrapper{
  display: flex;
  gap: 48px;
}
.formProgressPage .newServices{
  flex: 2;
  padding: 18px 36px;
}
.formProgressPage .newServicesWrapper{
  
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.formProgressPage .newService{
  background-color: #ecedf3;
  color: #353535;
  font-size: 15px;
  font-weight: 500;
  padding: 16px 24px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 18px;
}
.formProgressPage .newService .formIcon{
  width: 20px;
}
.formProgressPage .requestedServices{
  padding: 18px;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.formProgressPage h2 {
  color: #353535;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}
.formProgressPage h3 {
  color: #353535;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}
.formProgressPage hr {
  width: 100%;
  border: 1px solid #ecedf3;
}
.formProgressPage h4 {
  color: #353535;
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 32px;
}
.formProgressPage .progressItem {
  width: 90%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.progressItem h3 {
  color: #353535;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}
.progressItem p {
  margin: 0;
  padding: 0;
}
.progressItem .commentTitle {
  color: #353535;
  font-size: 12px;
  font-weight: 400;
  margin-top: 12px;
}
.progressItem .comments {
  text-align: left;
  color: #666666;
  font-size: 14px;
  font-weight: 300;
}
.progressItem .progressBar {
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.progressBar progress {
  flex: 1;
}
.statusText {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 600;
  color: #627BF6;
}
