.chart {
  padding: 25px;
  background-color: #F5F5F5;
  border-radius: 15px;
  margin-left: 0%;
}


.title {
  text-align: left;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #808199;
  font-weight: 600;
  margin-bottom: 20px;
}

.chartGrid {
  margin-left: 10%;
  stroke: rgb(228, 225, 225);
}