.LogicViewContainer {
    padding: 15px;
    flex-direction: row;
    text-align: left;
}

.titleText {
    align-self: flex-start;
    font-weight: 600;
    color: #353535;
    margin-bottom: 5px;
    font-size: 18px;
}

.subtitleText {
    align-self: flex-start;
    font-weight: 600;
    color: #353535;
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 15px;
}

.selectionBoxView {
    flex-direction: row;
    margin-bottom: 15px;
}

.selectBox {
    width: 100%;
    background-color: white;
    color: #353535;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    height: 70px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../../../assets/DropdownArrow.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

.selectBox:focus {
    outline: none;
}

.answerSelectionBox {
    flex: 1;
    flex-direction: row;
    width: 100%;
    background-color: white;
    color: #353535;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.answerSelectionBoxItem {
    width: 100%;
}

.downArrowImage {
    width: 100%;
    height: 30px;
    object-fit: contain;
    align-self: center;
}

.buttonView {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.SaveLogicButton {
    height: 45px;
    width: 150px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition-duration: 0.4s;
    cursor: pointer;
}