.selectedInvoiceModal {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  width: 70%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.selectedModalClose {
  margin-top: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.charts {
  height: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.service-confirm-table {
  height: 85vh;
  overflow: auto;
  padding-bottom: 30px;
}

.generateButtonView {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedTable .ant-table-thead .ant-table-cell {
  background-color: #ECEDF3;
  border: none;
}

.selectedTable .ant-table-tbody > tr > td {
  border: none
}

.selectedTable {
  margin-top: 30px;
}

.selectedTable .editable-row-dark {
  background-color: #F6F6F6;
}

.selectedTable .ant-table-container {
  border: none;
}

/* Antd global styling messing with our desired styling
So try and beat it with CSS specificity */
.selectedInvoiceTitle {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.serviceAnalyticsTitle h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  
}

.apexcharts-canvas {
  filter: none;
}