.FormTitleInput {
    flex: 1;
    border-radius: 15px;
    height: 45px;
    max-width: 50%;
}

.FormTitleTextInput {
    height: 45px;
    border: 0;
    background-color: transparent;
    width: 95%;
    padding: 10px;
    padding-bottom: 15px;
}

.FormTitleTextInput:focus {
    outline: none;
}