.LogicContainer {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #00000050;
    position: absolute;
}

.LogicView {
    width: 80vw;
    height: 50vh;
    z-index: 2;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 10%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;
}

.LogicTitle {
    font-size: 20px;
    font-weight: 600;
    color: #353535;
    margin-bottom: 10px;
}

.LogicText {
    font-size: 16px;
    color: #353535;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LogicTextInside {
    background-color: #ECEDF3;
    border-radius: 15px;
    padding: 5px 15px;
    margin-left: 10px;
    color: #666666;
}

.LogicBox {
    display: flex;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 10px 20px;
}

.LogicDivider {
    background-color: #ECEDF3;
    min-height: 2px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.LogicArrow {
    width: 15px;
    height: 15px;
    object-fit: contain;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
}

.LogicItem {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.LogicDeleteButton {
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    transition-duration: 0.4s;
    cursor: pointer;
}